# Log files
*.log

# Ignore Wordpress
dist
node_modules
/wp-admin/
/wp-includes/
/wp-content/*
/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php
/.htaccess
.env

# Add any exceptions below, change the rathalos-demo-plugin and rathalos-demo-theme to what you need.
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/test-plugin
/wp-content/plugins/test-plugin/vendor/
